@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
    }
    p {
        font-family: Garamond, serif;
        font-size: x-large;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Manveet Kaur's Magnets Company</h1><br/><br/>
    <p> In this website you will find all the necessary information regarding magnets.<br/><br/>
    This webpage is created by the ownwer of the company, <strong>Manveet Kaur</strong> with <em>Student Id: W0782002</em>.<br/><br/>
    Click on the Magnets List Navigation(top-left corner of the screen) to see the list of types of Magnets with different propertites</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
