@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manveet Kaur's Magnets Company</h1>
    <p> In this website you will find all the necessary information regarding magnets<br/><br/>
    This Database is created by the ownwer of the company, Manveet Kaur and with Student Id: W0782002</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
