@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        background-color: powderblue;
    }

    h1 {
        font-family: Garamond, serif;
        color: blue;
    }
    p {
        font-family: Garamond, serif;
        font-size: x-large;
    }
</style>
<h1>@ViewData["Title"]</h1>
<br/>
<p>
    Manveet Kaur created this firm in 2005. She has put forth a lot of effort to provide you with this knowledge.<br />
    She is responsible for your ability to see the list in a matter of seconds.<br /><br/>
</p>

<h1>Brief Description About Comapny</h1>
<p>
    This company's headquarters are in Auckland, New Zealand.<br />
    Every year, we create new stations across the world, and our company will soon be known to everyone.<br /><br />
</p>
<h1>General Description of The Product.</h1>
<p>
    This firm displays the many types of magnets available across the world.
    You may discover many types of magnets from all around the world in this database.<br />
    Different Shapes, Colors, Types, Power, and Customer Reviews may be found.
    This App has aided a large number of individuals in locating the appropriate sort of Magnet for their requirements, and it has provided an opportunity to improve through Customer Reviews.<br /><br />
</p>
