@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        background-color: powderblue;
    }

    h1 {
        color: blue;
    }
    p {
        font-family: Garamond, serif;
        font-size: x-large;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this pa.</p>
